.post_form_wrapper {
    margin: 32px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 12px;
    min-width: 400px;
    width: fit-content;
    border: dotted 1px gray;
    border-radius: 16px;
}

.post_form_item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
